// colors-------------------------------
$bg-main: rgb(251, 216, 70);
$bg-button: linear-gradient(268.28deg, rgb(251, 216, 70) 0.032%,rgb(255, 232, 136) 99.95%); 
$bg-button-hover: linear-gradient(88.28deg, rgb(251, 216, 70) 0.032%,rgb(255, 232, 136) 99.95%); 
$bg-button-green: linear-gradient(268.28deg, rgb(153, 203, 56) 0.032%,rgb(192, 243, 91) 99.95%);

// fonts---------------------------------
$font-color: #333333;
$font-color-white: #FFFFFF;
$font-color-green: #99CB38;