<footer class="footer">
    <div class="consultation-section">
        <div class="container">
            <form class="consultation-form" action="">
                <h2 class="consulatin-form__title"><span>Проконсультируем</span>
                    по любым вопросам
                </h2>
                <div class="user-data">
                    <input class="consultation-form__user-name form-input" type="text" placeholder="Ваше имя">
                    <input class="consultation-form__user-tel form-input" type="tel" placeholder="+7(___)___-__-__">
                </div>
                <textarea class="consultation-form__question form-input" placeholder="Кратко опишите Ваш вопрос"></textarea>
                <div class="confirmation-group">
                    <button class="consultation-form__btn btn">Получить консультацию</button>
                    <p class="consultation-form__alert">Нажимая кнопку "Получить консультацию" вы даете согласие на
                        обработку персональных данных в соответствии с политикой конфиденциальности
                    </p>
                </div>
            </form>
            <picture>
                <source srcset="images/footer-form-kitchen.avif">
                <source srcset="images/footer-form-kitchen.webp">
                <img class="consultaton-section__img" src="images/footer-form-kitchen.png" alt="kitchen">
            </picture>
        </div>
    </div>
    <div class="footer-info-section">
        <div class="container">
            <div class="footer-info">
                <a href="#">
                    <picture>
                        <source srcset="images/logo.avif">
                        <source srcset="images/logo.webp">
                        <img class="footer-info__logo" src="images/logo.png" alt="">
                    </picture>
                </a>
                <p class="footer-info__address">г. Нижневартовск,<br>
                    ул. Индустриальная, д.7 стр. 1 <br>
                    ТЦ “ВДНХ”, 2 этаж, <br>
                    бутик № 20а
                </p>
            </div>
            <div class="footer-menu">
                <span class="footer-menu__title footer__titles">Разделы :</span>
                <ul class="footer-menu__list">
                    <li><a class="footer-menu__item" href="#">Каталог товаров</a></li>
                    <li><a class="footer-menu__item" href="#">Кухонные модули</a></li>
                    <li><a class="footer-menu__item" href="#">Декоры МДФ/Лдсп</a></li>
                    <li><a class="footer-menu__item" href="#">Готовые решения</a></li>
                </ul>
            </div>
            <div class="footer-contacts">
                <span class="footer-contacts__title footer__titles">Контакты :</span>
                <div class="footer-contacts-wrapper">
                    <ul class="footer-contacts__contacts">
                        <li class="footer-contacts__item"><a href="mailto:uhninv@mail.ru"><img src="images/icons/mail-icon-green.svg" alt=""><span>uhninv@mail.ru</span></a></li>
                        <li class="footer-contacts__item"><a href="tel:83466682015"><img src="images/icons/tel-icon-green.svg" alt=""><span>8 (3466) 68-20-15</span></a></li>
                        <li class="footer-contacts__item"><a href="tel:83466681598"><span>8 (3466) 68-15-98</span></a></li>
                    </ul>
                    <ul class="footer-contacts__socials">
                        <li class="footer-contacts__item"><a href="https://vk.com/"><img src="images/icons/vk-icon-green.svg" alt=""><span>vk.com/kuhninv</span></a></li>
                        <li class="footer-contacts__item"><a href="https://ok.ru"><img src="images/icons/ok-icon-green.svg" alt=""><span>ok.ru/kuhninv</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>