<header class="header">
    <div class="header__contacts">
        <div class="contacts container">
             <a class="contacts__adress" href="#" >
                <img class="contacts__address-icon" src="images/icons/map-icon-white.svg" alt="">
                <span class="contacts__address-text">г. Нижневартовск, ул. Индустриальная, д.7 стр. 1 ТЦ “ВДНХ”, 2 этаж, бутик № 20а</span>
            </a>
            <a class="contacts__tel" href="tel:+73466681598">
                <img class="contacts__tel-icon" src="images/icons/tel-icon-white.svg" alt="" width="23px">
                <span class="contacts__tel-text">+7 (3466) 68-15-98</span>
            </a>
        </div>
    </div>
    <div class="header__navbar">
        <nav class="navbar container">
            <picture>
                <source srcset="images/logo.avif">
                <source srcset="images/logo.webp">
                <img class="navbar__logo" src="images/logo.png" alt="">
            </picture>
            <ul class="navbar__list">
                <li><a class="navbar__item" href="#">Каталог товаров</a></li>
                <li><a class="navbar__item" href="#">Кухонные модели</a></li>
                <li><a class="navbar__item" href="#">Декоры</a></li>
                <li><a class="navbar__item" href="#">Фотопечать</a></li>
                <li><a class="navbar__item" href="#">Готовые решения</a></li>
                <li><a class="navbar__item" href="#">Контакты</a></li>
            </ul>
            <button class="navbar__btn btn">Заказать звонок</button>
        </nav>
    </div>
</header>